.hero-section{
    display: flex;
    height: 100dvh;
    width: 100dvw;
    flex-direction: row;
    background-color: #DEE2F0;
}
.main-container{
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}



.linia_text{
    font-size: 48px;
    font-weight: bold;
}

.swinoujscie_text{
    font-size: 36px;
    font-weight: 500;
}
.zwykly_text{
    font-size: 24px;
    font-weight: 400;

}


.left_main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    height: 75%;
    
}
.box-shadow{
    display: flex;
    box-shadow: 0px 0px 15px rgba(132, 132, 132, 0.5);
    border-radius: 30px 30px 30px 30px;
    background-color: #ffffff;
    
}

.tempwiatr{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    
}
#left{
display: flex;
}


#right{
display: flex;
justify-content: space-between;

}
.linie{
display:flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 20px;
}
#dzwonek_tekst{
    font-weight: bold;
    text-decoration: underline;
}
.linie{
    margin-top: 20px;
}
.bold_text{
    font-weight: bold;
}
.temp_text{
    font-size: 28px;
    font-weight: 500;
}
#strona{
    font-size: 24px;
}
.red_text{
    color: #880000;
}

#swinoujscie_div{
    width: 80%;
    align-items: center;
    justify-content: center;
    text-align: center
}
#cloud_img{
    width: 300px;
}
#dzwonek_div{
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;}
